apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chat-db-pvc
  namespace: webchatapp
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: avatars-pvc
  namespace: webchatapp
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
